* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 30px;
  text-align: center;
}

h1,
h2 {
  color: #156c5e;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
}
h2 {
  padding: 0;
  margin: 5px;
}
form {
  max-width: 400px;
}
button,
input[type="text"] {
  padding: 10px;
  background-color: orangered;
  border: 1px solid orangered;
  border-radius: 4px;
  color: white;
}

button:hover {
  cursor: pointer;
}

#shopping-list-item {
  width: 250px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 12px;
  /*background: #d6eae8;*/
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.shopping-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
}

button,
[type="button"],
[type="submit"] {
  margin-top: 20px;
  min-width: 160px;
}

[type="radio"] {
  margin-right: 5px;
  margin-top: 12px;
  text-align: left;
}

.enter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

#questionAnswers {
  flex: 1;
}

#top {
  width: 20%;
  height: 20%;
}

h1.inside {
  font-size: 24px;
}

legend {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

fieldset {
  margin: 0;
  padding: 0;
}

fieldset.answers {
  margin-top: 10px;
  text-align: left;
  padding-left: 30%;
}

img {
  border-radius: 12px;
  box-shadow: -2px 1px 23px -4px rgba(11, 77, 60, 0.4);
}

header img {
  width: 70%;
  height: 70%;
}
